html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    word-wrap: break-word;
    font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    margin: 0px;
}

a {
    color: #3e8cb7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 910px;
}
@media only screen and (max-width:910px) {
    .container {
        margin: 0 auto;
        width: 580px;
    }
}
@media only screen and (max-width:580px) {
    .container {
        margin: 0 auto;
        width: 250px;
    }
}

.pagehead {
    position: relative;
    padding-top: 40px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    justify-content: space-between;
}

.pagehead h1 {
    font-size: 24px;
    font-weight: 300;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: auto;
    width: 100%;
    text-align: left;
}

@media only screen and (max-width:580px) {
    .pagehead {
        text-align: center;
        display: block;
    }
    .pagehead h1 {
        text-align: center;
    }
}

.pagehead a {
    margin: auto;
    width: 100%;
    text-align: right;
}

.profile {
    border-bottom: 1px solid #e1e4e8;
    padding-top: 46px;
    padding-bottom: 36px;
}

.profile p {
    font-size: 18px;
    width: 76%;
    margin: auto;
    text-align: center;
}

.profile ul {
    width: 76%;
    margin: 0 auto;
    margin-top: 16px;
    list-style: none;
    text-align: center;
    font-size: 16px;
}

.profile ul li {
    display: inline-block;
    position: relative;
    margin-left: 16px;
}

.profile ul li:first-child {
    display: inline-block;
    position: relative;
    margin-left: 0px;
}

.category {
    font-size: 20px;
    margin-bottom: 26px;
}

.category:first-of-type {
    margin-top: 46px;
}

.category:not(:first-of-type):before {
    border-top: 1px solid #eff0f1;
    content: "";
    display: block;
    /* margin-top: -40px; */
    padding-bottom: 36px;
    position: relative;
}

.repo-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 0;
    margin-bottom: 0;
}

.repo-item {
    position: relative;    
    width: 200px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;    
    border-radius: 3px !important;
    font-size: 12px;
    color: #5e6874;
}

.repo-item:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.repo-item a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.repo-item h3 {
    font-size: 14px;
    color: #3e8cb7;
}

.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: 4px;
}

.repo-info {
    margin-top: 6px;
}

.repo-info span {
    margin-right: 12px;
}

.repo-item p {
    margin-top: 4px;
}

footer {
    margin-top: 46px;
    background: #f4f5f6;
    border-top: 1px solid #eff0f1;
    text-align: center;
    padding-top:26px;
    padding-bottom:26px;
    color: #b0b8c1;
}