body {
    min-width: 1020px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    margin: 0px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 920;
}

.pagehead {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e4e8;
}

.pagehead .container {
    display: flex;
    justify-content: space-between;
}

.pagehead h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.pagehead .avatar {
    margin-top: -2px;
    margin-right: 9px;
    margin-bottom: -2px;
}

.repos-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.repo-item {
    /* display: flex; */
    width: 186px;
    padding: 16px !important;
    border: 1px #d1d5da solid !important;
    border-radius: 3px !important;
    font-size: 12px;
    margin-bottom: 16px;
    color: #586069;
}

.repo-item h3 {
    margin-top: 0px;
}

.repo-item p {
    margin-bottom: 0px;
}

.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: 4px;
}

.repo-item .repo-info span {
    margin-right: 12px;
}

.placeholder {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}