/* Copy from https://github.com/square/square.github.io */
/* fonts */
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-bold.eot");
  src: url("fonts/sqmarket-bold.eot?#iefix") format("eot"), url("fonts/sqmarket-bold.woff") format("woff"), url("fonts/sqmarket-bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-bold.eot");
  src: url("fonts/sqmarket-bold.eot?#iefix") format("eot"), url("fonts/sqmarket-bold.woff") format("woff"), url("fonts/sqmarket-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-bolditalic.eot");
  src: url("fonts/sqmarket-bolditalic.eot?#iefix") format("eot"), url("fonts/sqmarket-bolditalic.woff") format("woff"), url("fonts/sqmarket-bolditalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-bolditalic.eot");
  src: url("fonts/sqmarket-bolditalic.eot?#iefix") format("eot"), url("fonts/sqmarket-bolditalic.woff") format("woff"), url("fonts/sqmarket-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-light.eot");
  src: url("fonts/sqmarket-light.eot?#iefix") format("eot"), url("fonts/sqmarket-light.woff") format("woff"), url("fonts/sqmarket-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-lightitalic.eot");
  src: url("fonts/sqmarket-lightitalic.eot?#iefix") format("eot"), url("fonts/sqmarket-lightitalic.woff") format("woff"), url("fonts/sqmarket-lightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-medium.eot");
  src: url("fonts/sqmarket-medium.eot?#iefix") format("eot"), url("fonts/sqmarket-medium.woff") format("woff"), url("fonts/sqmarket-medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-mediumitalic.eot");
  src: url("fonts/sqmarket-mediumitalic.eot?#iefix") format("eot"), url("fonts/sqmarket-mediumitalic.woff") format("woff"), url("fonts/sqmarket-mediumitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-regular.eot");
  src: url("fonts/sqmarket-regular.eot?#iefix") format("eot"), url("fonts/sqmarket-regular.woff") format("woff"), url("fonts/sqmarket-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-regular.eot");
  src: url("fonts/sqmarket-regular.eot?#iefix") format("eot"), url("fonts/sqmarket-regular.woff") format("woff"), url("fonts/sqmarket-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-regularitalic.eot");
  src: url("fonts/sqmarket-regularitalic.eot?#iefix") format("eot"), url("fonts/sqmarket-regularitalic.woff") format("woff"), url("fonts/sqmarket-regularitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SQMarket";
  src: url("fonts/sqmarket-regularitalic.eot");
  src: url("fonts/sqmarket-regularitalic.eot?#iefix") format("eot"), url("fonts/sqmarket-regularitalic.woff") format("woff"), url("fonts/sqmarket-regularitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}